<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="margin-bottom: -100px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">OAU STORIES</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a >TOUR</a></li>
        <li><a >CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
